[Unit]
Description=audioswitch service
ConditionFileIsExecutable=/opt/chipsee/audioswitch.sh
Requires=pulseaudio.service
After=pulseaudio.service
ConditionUser=!root

[Service]
ExecStart=/opt/chipsee/audioswitch.sh start
RemainAfterExit=yes
RestartSec=5

[Install]
WantedBy=default.target
